parameters:
  level: 8
  paths:
    - plugin-boilerplate.php
    - src
    - blocks
    - templates
  scanDirectories:
    - plugin-update-checker/Puc
  excludePaths:
    - build
  bootstrapFiles:
    - vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
