@use "../abstracts" as utilities;

.my-plugin-admin {

	.form-controls {
		display: flex;
		flex-direction: column;
		gap: var(--wppb-mb--preset--spacing--40, 1rem);

		button {
			width: auto;
			display: inline-block;
			margin-left: auto;
		}
	}

	.components-tab-panel__tab-content {
		border: 1px solid #999;
		border-bottom-left-radius: utilities.$border-radius;
		border-bottom-right-radius: utilities.$border-radius;
		padding: 0 var(--wppb-mb--preset--spacing--40, 1rem);
		margin-bottom: var(--wppb-mb--preset--spacing--40, 1rem);
	}
}