/* Place SCSS variables here */
:root {
	--wppb-mb--preset--font-size--xx-small: 0.7rem;
	--wppb-mb--preset--font-size--x-small: 0.8rem;
	--wppb-mb--preset--font-size--small: 0.9rem;
	--wppb-mb--preset--font-size--regular: 1rem;
	--wppb-mb--preset--font-size--medium: 1.1rem;
	--wppb-mb--preset--font-size--large: 1.3rem;
	--wppb-mb--preset--font-size--x-large: 1.5rem;
	--wppb-mb--preset--font-size--xx-large: 1.75rem;
	--wppb-mb--preset--font-size--xxx-large: 2rem;
}
